@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--pure-white: #ffffff;
		--dark: #2c2c35 /*haiti*/;
		--deep-dark: #1e2028 /* pearl */;
		--color-text-base: #464a5d /*river*/;
		--color-text-muted: #a0a1b2 /* santa */;
		--color-text-accent: #0b7599 /* cege */;
	}

	html {
		height: 100%;
		scroll-behavior: smooth;
	}

	* {
		box-sizing: border-box;
	}

	body {
		@apply bg-white mx-auto font-sans;
	}

	h1 {
		@apply mx-auto mt-3 mb-8 transition-all leading-4;
	}

	code[class*='language-'] {
		font-size: 0.8rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 20px;
	}

	@media only screen and (min-width: 1024px) {
		code[class*='language-'] {
			font-size: 1rem !important;
		}

		code[class*='language-'],
		pre[class*='language-'] {
			line-height: 25px;
		}
	}
}

.main-container {
	@apply relative min-h-screen w-full flex flex-col justify-center;
}

.btn {
	@apply relative inline-flex items-center pl-2 pr-2 pt-2 pb-2 text-sm font-medium border-2;
}

.btn-accent {
	@apply relative inline-flex items-center px-2 py-2 text-sm font-medium text-white bg-river border-2 border-river rounded-l-lg hover:bg-haiti focus:z-10 focus:outline-none focus:ring-1 focus:ring-river focus:border-white lg:px-8;
}

.btn-base {
	@apply relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium border-2 border-river rounded-r-lg focus:z-10 focus:outline-none focus:ring-1 focus:ring-auburn focus:border-auburn lg:px-8;
}

.artifact-container {
	@apply text-skin-dark flex flex-col justify-center p-11 mx-auto my-7 max-w-4xl;
}

.content {
	@apply w-full mx-auto text-gray-800 leading-6;
}

.content h1 {
	@apply text-left leading-8 text-2xl font-medium mx-auto break-words;
}

.content h2 {
	@apply text-left text-xl font-normal leading-7 my-2 mx-0;
}

.message {
	@apply py-2 px-4 rounded-md;
}

.warning {
	@apply bg-orange-200;
}

.text-default {
	@apply text-base leading-6;
}

.markdown-body {
	@apply mx-auto p-11 prose-base;
}
