/* CSS RESET by https://www.joshwcomeau.com/css/custom-css-reset/ */

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}

	margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* END OF CSS RESET by */

body {
	background-color: $white;
	font-family: 'IBM Plex Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	flex-grow: 1;
}

h1 {
	color: $color-text-base;
	margin-top: 0.75rem;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

a {
	text-decoration: none;
	color: inherit;
}

.main-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 0.875rem;
	font-weight: 500;
	border-width: 2px;
	border-style: solid;
}

.btn-accent {
	color: $white;
	background-color: $color-text-base;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border-color: $color-text-base;

	&:hover {
		background-color: $dark;
	}

	&:focus {
		z-index: 10;
		outline: 2px solid transparent;
		outline-offset: 2px;
		border-color: $white;
	}
}

.btn-base {
	margin-left: -1px;
	color: $dark;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border-color: $color-text-base;

	&:focus {
		z-index: 10;
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

.artifact-container {
	color: $dark;
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	max-width: 56rem;
	flex-direction: column;
	justify-content: center;
	padding: 2.75rem;

	> .content {
		margin-left: auto;
		margin-right: auto;
		width: 100%;

		h1 {
			text-align: left;
			line-height: 2rem;
			font-size: 1.5rem;
			font-weight: 500;
			margin-left: 0px;
			margin-right: 0px;
		}

		h2 {
			text-align: left;
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 1.75rem;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			margin-left: 0px;
			margin-right: 0px;
		}

		ul li {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
}

.message {
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
}

.warning {
	background-color: rgb(254 215 170);
}

.text-default {
	font-size: 1rem;
	line-height: 1.5rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (min-width: 1024px) {
	.subwrapper {
		padding-left: 4rem;
		padding-right: 4rem;

		> .herotext h1 {
			font-size: 3rem;
		}
	}

	.btn {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
