/* Variables and mixins declared here will be available in all other SCSS files */

/* additional colours */
$white: #ffffff;
$dark: #2c2c35;
$deep-dark: #1e2028;
$color-text-base: #464a5d;
$color-text-muted: #a0a1b2;
$color-text-accent: #0b7599;
