# https://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
quote_type = single

[*.go]
indent_style = tab
indent_size = 4

[*.gotxt]
indent_style = tab
indent_size = 4

[*.cjs]
indent_style = space
indent_size = 3

[*.tmpl]
indent_style = tab
indent_size = 2

[*.{yaml, yml}]
indent_style = space
indent_size = 2

[*.{js, cjs, js.ts, ts}]
indent_style = tab
indent_size = 3

[*.svelte]
indent_style = tab
indent_size = 4
