/* Variables and mixins declared here will be available in all other SCSS files */

/* additional colours */
$white: #ffffff;
$dark: #2c2c35;
$deep-dark: #1e2028;
$base: #464a5d;
$muted: #a0a1b2;
$cyan: #0b7599;
$orange: #fed7aa;
$gray-900: #111827;
