@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		height: 100%;
		scroll-behavior: smooth;
	}

	* {
		box-sizing: border-box;
	}

	code[class*='language-'] {
		font-size: 0.8rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 20px;
	}

	@media only screen and (min-width: 1024px) {
		code[class*='language-'] {
			font-size: 1rem !important;
		}

		code[class*='language-'],
		pre[class*='language-'] {
			line-height: 25px;
		}
	}
}

.message {
	@apply py-2 px-4 rounded-md;
}

.message--warning {
	@apply bg-orange-200;
}

.text-default {
	@apply text-base leading-6;
}

.markdown-body {
	@apply mx-auto p-11 prose-base;
}
