@import url(./tw-preflight.css);

:root {
	--white: #ffffff;
	--dark: #2c2c35;
	--orange: #fed7aa;
	--deep-dark: #1e2028;
	--color-text-base: #464a5d;
	--color-text-muted: #a0a1b2;
	--color-text-accent: #0b7599;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	line-height: 1.5;
	background-color: var(--white);
	margin-left: auto;
	margin-right: auto;
}

main {
	flex-grow: 1;
}

h1 {
	color: var(--color-text-base);
	margin-top: 0.75rem /* 12px */;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

a {
	color: currentColor;
	text-decoration: none;
}

a:hover {
	color: currentColor;
	text-decoration: none;
}

code[class*='language-'] {
	font-size: 0.8rem !important;
}

code[class*='language-'],
pre[class*='language-'] {
	line-height: 20px;
}

.main-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.artifact-container {
	color: var(--dark);
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	max-width: 56rem;
	flex-direction: column;
	justify-content: center;
	padding: 2.75rem;
}

.artifact-container > .content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.artifact-container > .content h1 {
	text-align: left;
	line-height: 2rem /* 32px */;
	font-size: 1.5rem /* 24px */;
	font-weight: 500;
	margin-left: 0px;
	margin-right: 0px;
}

.artifact-container > .content h2 {
	text-align: left;
	font-size: 1.25rem /* 20px */;
	font-weight: 400;
	line-height: 1.75rem /* 28px */;
	margin-top: 0.5rem /* 8px */;
	margin-bottom: 0.5rem /* 8px */;
	margin-left: 0px;
	margin-right: 0px;
}

.message {
	padding: 0.5rem 1rem /* 8px 16px */;
	border-radius: 0.375rem /* 6px */;
}

.message--warning {
	background-color: var(--orange);
}

.text-default {
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

.markdown-body a {
	color: currentColor;
	text-decoration: none;
}
.markdown-body a:hover {
	color: currentColor;
	text-decoration: none;
}

@media only screen and (min-width: 1024px) {
	code[class*='language-'] {
		font-size: 1rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 25px;
	}
}
