@charset "utf-8";

@import url('../static/css/prism/themes/prism-shades-of-purple.css') screen;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--white: #fff;
		--dark: #2c2c35;
		--deep-dark: #1e2028;
		--base: #464a5d;
		--muted: #a0a1b2;
		--river: #464a5d;
		--cyan: #0b7599;
		--haiti: #2c2c35;
		--pearl: #1e2028;
		--santa: #a0a1b2;
		--cege: #0b7599;
	}

	html {
		height: 100%;
		scroll-behavior: smooth;
	}

	body {
		@apply bg-white mx-auto font-sans;
	}

	h1 {
		@apply mx-auto text-base transition-all;
	}

	code[class*='language-'] {
		font-size: 0.8rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 20px;
	}

	@media only screen and (min-width: 1024px) {
		code[class*='language-'] {
			font-size: 1rem !important;
		}

		code[class*='language-'],
		pre[class*='language-'] {
			line-height: 25px;
		}
	}
}

.main-container {
	@apply relative min-h-screen w-full flex flex-col justify-center;
}

.page-wrapper {
	@apply text-dark flex flex-col justify-center p-11 mx-auto my-7 max-w-4xl;
}

.page-wrapper__content {
	@apply w-full my-4 mx-auto text-gray-800 leading-6;
}

:is(.page-wrapper, .page-wrapper__content) h1 {
	@apply my-8 text-3xl font-medium;
}

.page-wrapper__content h2 {
	@apply text-2xl font-medium;
}

.message {
	@apply py-2 px-4 rounded-md;
}

.message--warning {
	@apply bg-orange-200;
}

.text-default {
	@apply text-base leading-6;
}

.markdown-body {
	@apply mx-auto prose prose-gray text-justify;
}

.max-width-none {
	@apply max-w-none;
}
