@import url(./tw-preflight.css);

html {
	scroll-behavior: smooth;
}

code[class*='language-'] {
	font-size: 0.8rem !important;
}

code[class*='language-'],
pre[class*='language-'] {
	line-height: 20px;
}

@media only screen and (min-width: 1024px) {
	code[class*='language-'] {
		font-size: 1rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 25px;
	}
}

.message {
	padding: 0.5rem 1rem /* 8px 16px */;
	border-radius: 0.375rem /* 6px */;
}

.warning {
	background-color: rgb(254 215 170);
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}
