<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%svelte.assets%/favicon.png" />
    <meta
      name="robots"
      content="index,follow,max-snippet:-1,max-image-preview:large,noarchive,max-video-preview:-1"
    />
    <meta
      name="googlebot"
      content="index,follow,max-snippet:-1,max-image-preview:large,noarchive,max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="%svelte.assets%/prism/themes/prism-shades-of-purple.css"
      rel="stylesheet"
      media="screen"
    />
    %svelte.head%
  </head>
  <body>
    <div id="svelte">%svelte.body%</div>
    <script src="%svelte.assets%/prism/prism.js" defer></script>
  </body>
</html>
