@charset "utf-8";

@import url('./tw-preflight.css');
@import url('../static/prism/themes/prism-shades-of-purple.css') screen;

/*
 * Variables and mixins from the src/variables.scss file are available here without importing
 */

/* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
//@import 'bulma/sass/base/_all';
//@import 'bulma/sass/elements/_all';
//@import 'bulma/sass/form/_all';
//@import 'bulma/sass/components/_all';
//@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
//@import 'bulma/sass/layout/_all';

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	line-height: 1.5;
	background-color: $white;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: $base;
	margin-left: auto;
	margin-right: auto;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

a {
	color: currentcolor;
	text-decoration: none;

	&:hover {
		color: currentcolor;
		text-decoration: none;
	}
}

code[class*='language-'] {
	font-size: 0.8rem !important;
}

code[class*='language-'],
pre[class*='language-'] {
	line-height: 20px;
}

.page-wrapper {
	color: $dark;
	margin: 1.75rem auto;
	display: flex;
	max-width: 56rem;
	flex-direction: column;
	justify-content: center;
	padding: 2.75rem;

	&__content {
		margin: 1rem auto;
		width: 100%;

		h2 {
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

	:is(&, &__content) h1 {
		margin: 2rem 0;
		font-weight: 500;
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

.message {
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
}

.message--warning {
	background-color: $orange;
}

.text-default {
	font-size: 1rem;
	line-height: 1.5rem;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

.markdown-body a {
	color: currentcolor;
}

.markdown-body a:hover {
	text-decoration: none;
}

@media only screen and (min-width: 1024px) {
	code[class*='language-'] {
		font-size: 1rem !important;
	}

	code[class*='language-'],
	pre[class*='language-'] {
		line-height: 25px;
	}
}
