/* Variables and mixins declared here will be available in all other SCSS files */
/* https://github.com/jgthms/bulma/issues/1293 */
$family-sans-serif: 'IBM Plex Sans', sans-serif;
$body-overflow-y: auto;

/* additional colours */
$white: #ffffff;
$dark: #2c2c35;
$orange: #fed7aa;
$deep-dark: #1e2028;
$color-text-base: #464a5d;
$color-text-muted: #a0a1b2;
$color-text-accent: #0b7599;
$grey-dark: #464a5d /*river*/;
$grey-darker: #1e2028 /* pearl */;
$grey-light: #a0a1b2 /* santa */;
$cyan: #0b7599 /* cege */;

/* breakpoints */
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

/* sizes */
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.875rem;

/* spacing */
$spacing-shortcuts: (
	'margin': 'mg',
	'padding': 'pg',
);
$spacing-horizontal: 'x';
$spacing-vertical: 'y';
$spacing-values: (
	'0': 0px,
	'1': 0.25rem,
	'2': 0.5rem,
	'3': 0.75rem,
	'4': 1rem,
	'5': 1.25rem,
	'6': 1.5rem,
	'7': 1.75rem,
	'8': 2rem,
	'9': 2.25rem,
	'10': 2.5rem,
	'11': 2.75rem,
	'12': 3rem,
	'14': 3.5rem,
	'16': 4rem,
	'20': 5rem,
	'24': 6rem,
	'28': 7rem,
	'32': 8rem,
	'36': 9rem,
	'40': 10rem,
	'44': 11rem,
	'48': 12rem,
	'52': 13rem,
	'56': 14rem,
	'60': 15rem,
	'64': 16rem,
	'72': 18rem,
	'80': 20rem,
	'96': 24rem,
);
