<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/icons/manifest.webmanifest" />
    <meta
      name="robots"
      content="index,follow,max-snippet:-1,max-image-preview:large,noarchive,max-video-preview:-1"
    />
    <meta
      name="googlebot"
      content="index,follow,max-snippet:-1,max-image-preview:large,noarchive,max-video-preview:-1"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css"
      integrity="sha512-zb2pp+R+czM7GAemdSUQt6jFmr3qCo6ikvBgVU6F5GvwEDR0C2sefFiPEJ9QUpmAKdD5EqDUdNRtbOYnbF/eyQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="/prism/themes/prism-shades-of-purple.css"
      rel="stylesheet"
      media="screen"
    />
    %svelte.head%
  </head>
  <body>
    <div>%svelte.body%</div>
    <script src="/prism/prism.js" defer></script>
  </body>
</html>
