name: Release
on:
  release:
    types: [created]
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sveltin
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.18.0'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.SVELTIN_TOKEN }}
